{{#section 'header'}}


<link rel="stylesheet" href="/css/campaigns.css">
<link rel="stylesheet" href="/css/homebrew-builders.css">


<script>
  let rawCampaigns = {{{ json campaigns }}};
</script>
<script src="/js/gm_tools/campaigns/ui-handler.js"></script>

<script src="/js/gm_tools/campaigns/conditions-handler.js"></script>
<script src="/js/libraries/display_campaign/display-campaign.js"></script>
<script src="/js/wsc/text-processing.js"></script>
<script src="/js/gm_tools/encounter_builder/conditions-ui.js"></script>
<script src="/js/libraries/confirm_message/confirm-message.js"></script>

<!-- Quickview -->
<script src="/js/sheet/quickviews/_quickviews.js"></script>
<script src="/js/sheet/quickviews/character-view.js"></script>

{{/section}}

{{#section 'nav_home'}}
<li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/v/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_builds'}}
<li><a href="/builds">Builds</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_gm_tools'}}
<li><a href="/gm-tools" class="active">GM Tools</a></li>
{{/section}}

{{#section 'nav_browse'}}
<li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/browse"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
<li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
<div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="subpageloader is-hidden">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div id="campaigns-container" class="container">

  <div class="columns is-mobile is-centered is-vcentered pt-3 is-marginless">
    <div class="column is-5 is-paddingless">
      <h1 class="is-size-2 is-inline-block has-txt-value-string title-font">Campaigns</h1>
      {{#ifEqual user.isPatreonMember 0}}
        <span class="is-size-5 ml-3 has-tooltip-bottom has-tooltip-multiline has-txt-listing" data-tooltip="You can only have one campaign at a time. To get unlimited campaigns, support us and what we're doing on Patreon!">({{campaigns.length}}/{{campaignLimit}})</span>
      {{/ifEqual}}
    </div>
    <div class="column is-5 is-paddingless">
      {{#if canMakeCampaign}}
        <a id="campaign-create-btn" class="is-size-3 is-pulled-right"><span class="icon is-large has-text-info has-tooltip-bottom" data-tooltip="Create Campaign"><i class="fas fa-plus"></i></span></a>
      {{else}}
        <a class="is-size-3 is-pulled-right"><span class="icon is-large has-text-danger has-tooltip-bottom" data-tooltip="You have reached your campaign limit."><i class="fas fa-plus"></i></span></a>

        <a href="https://www.patreon.com/bePatron?u=32932027" target="_blank" class="button is-rounded is-small is-hidden-mobile mt-2 mx-3 is-pulled-right" style="background-color: rgb(255, 66, 77);color: white;">
          <span class="icon is-small">
            <i class="fab fa-patreon"></i>
          </span>
          <span>Become a patron</span>
        </a>
      {{/if}}
    </div>
  </div>
  <hr>


  <div class="columns is-centered is-multiline is-marginless mb-2">
    {{#each campaigns}}
    <div class="column is-4">
      <div class="card campaign-card is-unselectable" data-campaign-id="{{id}}">

        <div class="card-content cursor-clickable pt-2">
          <a>
            <span class="is-size-8 has-txt-noted campaign-id"># {{id}}</span>
            <p id="campaign-{{id}}-name" class="is-size-4 has-txt-value-number text-center text-overflow-ellipsis">
              {{name}}</p>
            <p class="is-size-7 text-center text-overflow-ellipsis"> {{campaignaccesstokens.length}} characters </p>
          </a>
        </div>

        <div class="card-footer is-paddingless">
          <a class="card-footer-item campaign-card-edit has-txt-listing">
            <span class="is-size-6 pr-2">Edit</span>
            <span class="icon is-small">
              <i class="fas fa-edit"></i>
            </span>
          </a>
          <a class="card-footer-item campaign-card-delete has-txt-listing">
            <span class="is-size-6 pr-1">Delete</span>
            <span class="icon is-small">
              <i class="fas fa-trash"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="column">
      <p class="has-text-centered is-italic">You have no campaigns.</p>
    </div>
    {{/each}}
  </div>

</div>


{{#section 'overlay'}}

<!-- Right Quickview -->
<div id="quickviewDefault" class="quickview">
  <div class="quickview-header">
    <p id="quickViewTitle" class="title is-size-5 has-txt-value-number"></p>
    <div class="is-inline-flex">
      <p id="quickViewTitleRight"></p>
      <p id="quickViewTitleClose"></p>
    </div>
  </div>
  <div class="quickview-body use-custom-scrollbar">
    <div id="quickViewContent" class="quickview-block pt-1 pb-3 px-3">
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div id="editModalDefault" name="" class="modal" style="z-index:30;">
  <div id="editModalBackground" class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-head">
      <p id="editModalTitle" class="modal-card-title has-text-centered is-size-4 has-txt-value-number">Edit Campaign</p>
      <button id="editModalCloseButton" class="delete modal-card-close" aria-label="close"></button>
    </div>
    <section class="modal-card-body is-paddingless use-custom-scrollbar p-2 pt-3"
      style="overflow-y: scroll; overflow-x: hidden;">

      <div class="field">
        <div class="control">
          <input id="inputCampaignName" class="input" type="text" placeholder="Name" maxlength="120" spellcheck="false"
            autocomplete="off">
        </div>
      </div>

      <div class="field">
        <div class="control">
          <textarea id="inputCampaignDescription" class="textarea use-custom-scrollbar" placeholder="Description"
            maxlength="3950" spellcheck="false" autocomplete="off"></textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input id="inputCampaignImageURL" class="input isURL" type="text" maxlength="290" placeholder="Image URL"
            spellcheck="false" autocomplete="off">
        </div>
      </div>

      <hr class="m-2">

      <div class="field pl-2">
        <label class="label">Display Player Health to Others</label>
        <div class="control">
          <div class="select">
            <select id="selectCampaignOption-DisplayPlayerHealth">
              <option value="0">Don't Display</option>
              <option value="1">Show General Status</option>
              <option value="2">Show Specific Number</option>
            </select>
          </div>
        </div>
      </div>

    </section>
    <div class="modal-card-foot">
    </div>
  </div>
</div>

<!-- Conditions Modal -->
<div id="conditionsModalDefault" name="" class="modal" style="z-index:30;">
  <div id="conditionsModalBackground" class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-head">
      <p id="conditionsModalTitle" class="modal-card-title has-text-centered is-size-4 has-txt-value-number"></p>
      <a id="conditionsModalRemoveButton" class="is-pulled-right is-size-6"><span
          class="icon is-medium has-text-danger"><i class="fal fa-minus-circle"></i></span></a>
    </div>
    <section class="modal-card-body py-2">
      <p id="conditionsModalSourceSection" class="has-text-centered"><strong class="has-txt-listing">From: </strong><em
          id="conditionsModalSourceContent"></em></p>
      <p id="conditionsModalContent"></p>
    </section>
    <div id="conditionsModalFooter" class="modal-card-foot buttons is-centered">
      <button id="conditionsModalSubtractButton" class="button is-very-small is-info is-rounded">
        <span class="icon">
          <i class="fas fa-heading fa-minus"></i>
        </span>
      </button>
      <button id="conditionsModalValueButton" class="button is-static has-bg-selectable-hover border-dark">
        <p id="conditionsModalValue" class="has-txt-value-number"></p>
      </button>
      <button id="conditionsModalAddButton" class="button is-very-small is-info is-rounded">
        <span class="icon">
          <i class="fas fa-heading fa-plus"></i>
        </span>
      </button>
    </div>
  </div>
  <button id="conditionsModalCloseButton" class="modal-close is-large is-hidden-mobile" aria-label="close"></button>
</div>

<!-- Conditions Select Modal -->
<div id="conditionsSelectModalDefault" name="" class="modal" style="z-index:30;">
  <div id="conditionsSelectModalBackground" class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-head">
      <p id="conditionsSelectModalTitle" class="modal-card-title has-text-centered is-size-4 has-txt-value-number">
        Choose a Condition</p>
      <button id="conditionsSelectModalCloseButton" class="delete modal-card-close" aria-label="close"></button>
    </div>
    <section class="modal-card-body is-paddingless use-invisible-scrollbar p-2">
      <div id="conditionsSelectModalContent" class="tile is-ancestor is-vertical"></div>
    </section>
    <div class="modal-card-foot">
    </div>
  </div>
</div>

{{/section}}