{{#section "styles"}}
  <link rel="stylesheet" href="/css/homebrew-builders.css" />
{{/section}}

{{#section "header"}}
  <script type="text/javascript" src="/js/confirm-page-leave.js"></script>
  <script
    type="text/javascript"
    src="/js/homebrew/builder/creature/builder-creature.js"
  ></script>
  {{#if creatureID}}
    <script
      type="text/javascript"
      src="/js/homebrew/builder/creature/editor-creature.js"
    ></script>
  {{/if}}
{{/section}}

{{#section "nav_home"}}
  <li><a href="/">Home</a></li>
{{/section}}

{{#section "nav_characters"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a
      href="/v/profile/characters"
    >Characters</a></li>
{{/section}}

{{#section "nav_builds"}}
  <li><a href="/builds">Builds</a></li>
{{/section}}

{{#section "nav_homebrew"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a
      href="/homebrew"
      class="active"
    >Homebrew</a></li>
{{/section}}

{{#section "nav_gm_tools"}}
  <li><a href="/gm-tools">GM Tools</a></li>
{{/section}}

{{#section "nav_browse"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/browse"><i
        class="fas fa-lg fa-search"
      ></i></a></li>
{{/section}}

{{#section "nav_login"}}
  <li class="mr-4"><a href="/auth/login">Login
      <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}

{{#section "banner_nav"}}
  <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="pageloader">
  <div class="lds-roller">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="pt-3">
  <h1 class="title is-2 has-txt-value-number has-text-centered">Creature Builder</h1>
</div>

<div
  id="builder-container"
  data-user-id="{{user.id}}"
  data-bundle-id="{{bundleID}}"
  data-creature-id="{{creatureID}}"
  class="columns is-mobile is-centered mt-2 mb-3"
>
  <div class="column is-10 is-vertical">

    <div class="">

      <div class="is-vertical box is-6 is-marginless mr-2">

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              id="inputName"
              class="input"
              type="text"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="columns">

          <div class="column field">
            <label class="label">Level</label>
            <div class="control">
              <div class="select">
                <select id="inputLevel">
                  <option value="-1" selected>-1</option>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                </select>
              </div>
            </div>
          </div>

          <div class="column field">
            <label class="label">Rarity</label>
            <div class="control">
              <div class="select">
                <select id="inputRarity">
                  <option value="COMMON">Common</option>
                  <option value="UNCOMMON">Uncommon</option>
                  <option value="RARE">Rare</option>
                  <option value="UNIQUE">Unique</option>
                </select>
              </div>
            </div>
          </div>

          <div class="column field">
            <label class="label">Alignment</label>
            <div class="control">
              <div class="select">
                <select id="inputAlignment">
                  <option value="LG">Lawful Good</option>
                  <option value="NG">Neutral Good</option>
                  <option value="CG">Chaotic Good</option>
                  <option value="LN">Lawful Neutral</option>
                  <option value="N">True Neutral</option>
                  <option value="CN">Chaotic Neutral</option>
                  <option value="LE">Lawful Evil</option>
                  <option value="NE">Neutral Evil</option>
                  <option value="CE">Chaotic Evil</option>
                </select>
              </div>
            </div>
          </div>

          <div class="column field">
            <label class="label">Size</label>
            <div class="control">
              <div class="select">
                <select id="inputSize">
                  <option value="TINY">Tiny</option>
                  <option value="SMALL">Small</option>
                  <option value="MEDIUM" selected>Medium</option>
                  <option value="LARGE">Large</option>
                  <option value="HUGE">Huge</option>
                  <option value="GARGANTUAN">Gargantuan</option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <div class="">
          <label class="label">Traits</label>
          <select id="inputTags" data-placeholder="Select Traits" multiple>
            {{#each tags}}
              <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="field">
          <label class="label">Family Group</label>
          <div class="control">
            <input
              class="input"
              id="inputFamilyType"
              type="text"
              maxlength="120"
              placeholder="eg. Humanoid"
            />
          </div>
        </div>

        <hr class="m-2" />

        <div class="field">
          <label class="label">Perception Bonus</label>
          <div class="control">
            <input
              id="inputPerceptionBonus"
              class="input"
              type="number"
              value="5"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">Senses</label>
          <div class="control">
            <input
              class="input"
              id="inputSenses"
              type="text"
              maxlength="450"
              placeholder="eg. darkvision"
            />
          </div>
        </div>

        <div class="">
          <label class="label">Languages</label>
          <select
            id="inputLanguages"
            data-placeholder="Select Languages"
            multiple
          >
            {{#each languages}}
              <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>

        <div class="field">
          <label class="label">Extra Languages</label>
          <div class="control">
            <input
              class="input"
              id="inputLanguagesCustom"
              type="text"
              maxlength="600"
              placeholder="eg. Tongues"
            />
          </div>
        </div>

        <hr class="m-2" />

        <!-- Skills entry -->

        <div class="">
          <button id="addSkillButton" class="button is-link">Add Skill</button>
        </div>

        <div id="skillContent" class="m-2">

          <div id="skillLayout" class="card mb-2 creatureSkill is-hidden">
            <div class="card-header cursor-clickable">
              <p
                class="card-header-title is-paddingless has-txt-value-number is-size-5"
              >Skill</p>
              <a
                class="card-header-icon is-paddingless mt-1 delete is-medium"
              ></a>
            </div>
            <div class="card-content columns is-marginless">
              <div class="field column is-paddingless">
                <label class="label">Name</label>
                <div class="control">
                  <input
                    class="input inputSkillName"
                    type="text"
                    placeholder="e.g. Arcana"
                  />
                </div>
              </div>
              <div class="field column is-paddingless pl-2">
                <label class="label">Bonus</label>
                <div class="control">
                  <input
                    class="input inputSkillBonus"
                    type="number"
                    value="0"
                  />
                </div>
              </div>
            </div>
          </div>

        </div>

        <hr class="m-2" />

        <!-- Items entry -->

        <div class="">
          <button id="addItemButton" class="button is-link">Add Item</button>
        </div>

        <div id="itemContent" class="m-2">

          <div id="itemLayout" class="card mb-2 creatureItem is-hidden">
            <div class="card-header cursor-clickable">
              <p
                class="card-header-title is-paddingless has-txt-value-number is-size-5"
              >Item</p>
              <a
                class="card-header-icon is-paddingless mt-1 delete is-medium"
              ></a>
            </div>
            <div class="card-content columns is-marginless">
              <div class="field column is-paddingless">
                <label class="label">Name</label>
                <div class="control">
                  <input
                    class="input inputItemDisplayName"
                    type="text"
                    placeholder="e.g. Greatsword"
                  />
                </div>
              </div>
              <div class="field column is-paddingless pl-2">
                <label class="label">Quantity</label>
                <div class="control">
                  <input
                    class="input inputItemQuantity"
                    type="number"
                    value="1"
                  />
                </div>
              </div>
              <!-- TODO: Add name, doIndex, and shieldStats -->
            </div>
          </div>

        </div>

        <hr class="m-2" />

        <div class="columns">
          <div class="column field">
            <label class="label">Str</label>
            <div class="control">
              <input id="inputStrMod" class="input" type="number" value="2" />
            </div>
          </div>
          <div class="column field">
            <label class="label">Dex</label>
            <div class="control">
              <input id="inputDexMod" class="input" type="number" value="2" />
            </div>
          </div>
          <div class="column field">
            <label class="label">Con</label>
            <div class="control">
              <input id="inputConMod" class="input" type="number" value="2" />
            </div>
          </div>
          <div class="column field">
            <label class="label">Int</label>
            <div class="control">
              <input id="inputIntMod" class="input" type="number" value="2" />
            </div>
          </div>
          <div class="column field">
            <label class="label">Wis</label>
            <div class="control">
              <input id="inputWisMod" class="input" type="number" value="2" />
            </div>
          </div>
          <div class="column field">
            <label class="label">Cha</label>
            <div class="control">
              <input id="inputChaMod" class="input" type="number" value="2" />
            </div>
          </div>
        </div>

        <hr class="m-2" />

        <!-- interactionAbilitiesJSON entries -->

        <hr class="m-2" />

        <div class="columns is-marginless">
          <div class="column field">
            <label class="label">AC</label>
            <div class="control">
              <input id="inputACValue" class="input" type="number" value="15" />
            </div>
          </div>
          <div class="column field">
            <label class="label">Fort</label>
            <div class="control">
              <input
                id="inputFortValue"
                class="input"
                type="number"
                value="5"
              />
            </div>
          </div>
          <div class="column field">
            <label class="label">Reflex</label>
            <div class="control">
              <input
                id="inputReflexValue"
                class="input"
                type="number"
                value="5"
              />
            </div>
          </div>
          <div class="column field">
            <label class="label">Will</label>
            <div class="control">
              <input
                id="inputWillValue"
                class="input"
                type="number"
                value="5"
              />
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Extra Saves Bonus</label>
          <div class="control">
            <input
              class="input"
              id="inputAllSavesCustom"
              type="text"
              maxlength="600"
              placeholder="eg. +1 status to all saves vs. magic"
            />
          </div>
        </div>

        <hr class="m-2" />

        <div class="columns">
          <div class="column field">
            <label class="label">HP</label>
            <div class="control">
              <input id="inputHPMax" class="input" type="number" value="30" />
            </div>
          </div>
          <div class="column field">
            <label class="label">Extra HP Details</label>
            <div class="control">
              <input
                class="input"
                id="inputHPDetails"
                type="text"
                maxlength="450"
                placeholder="eg. negative healing"
              />
            </div>
          </div>
        </div>

        <hr class="m-2" />

        <!-- immunitiesJSON entries -->

        <!-- weaknessesJSON entries -->

        <!-- resistancesJSON entries -->

        <hr class="m-2" />

        <!-- defensiveAbilitiesJSON entries -->

        <hr class="m-2" />

        <div class="field">
          <label class="label">Speed</label>
          <div class="control">
            <input class="input" id="inputSpeed" type="number" value="25" />
          </div>
        </div>

        <!-- otherSpeedsJSON entries -->

        <hr class="m-2" />

        <!-- attacksJSON entries -->

        <!-- spellcastingJSON entries -->

        <!-- offensiveAbilitiesJSON entries -->

        <hr class="m-2" />

        <div class="field">
          <label class="label">
            Flavor Text
            <a href="/wsc_docs/#description_fields" target="_blank"><span
                class="icon is-small has-text-info has-tooltip-top"
                data-tooltip="WSC Docs"
              ><i class="fas fa-book"></i></span></a>
          </label>
          <div class="control">
            <textarea
              id="inputDescription"
              class="textarea use-custom-scrollbar"
            ></textarea>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="field is-grouped is-grouped-centered pb-2">
  <div class="control">
    <!--<a class="button is-info is-rounded is-small has-text-white">
    <span class="icon is-small">
   <i class="fas fa-arrow-left"></i>
    </span>
    <span>Back</span>
  </a>-->
    {{#if creatureID}}
      <button
        id="updateButton"
        onClick="canLeavePage()"
        onClick="canLeavePage()"
        class="button is-rounded is-success"
      >Save</button>
    {{else}}
      <button
        id="createButton"
        onClick="canLeavePage()"
        onClick="canLeavePage()"
        class="button is-rounded is-success"
      >Save</button>
    {{/if}}
  </div>
</div>